.barra-navegacao{
    padding-top: 14px;
    padding-left: 5%;
    width: 100%;
    height: 75px;
    background: #1e94d2;
    display: flex;
    text-align: center
}

.buttonMenu{
    font-size: 200%;
    color: white;
    padding: 0;
}

span{

    color: aliceblue;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 150%;
}

.botaoMenu{
    color: #1e94d2;
    width: 100%;
    margin: 2%;
}

.tituloButotnMenu{
    color: #1e94d2;
}

.color-bar {
    background-color: #3a3633 !important;
}

.div-menu:hover{
    background: #ffffff98;
    color: white;
    

}

.div-menu{
    color: white;
    
}

#divClick{
    cursor: pointer;
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 4%;
    margin-left: 5%; 
    margin-right: 5%;
}

.botao-menu{
    float: left;
    font-size: 120%
}


h1{
    color: white;
    margin-bottom: 15%
}

.icon-menu{
    color: white;
    font-size: 135%;
    float: right;
    margin-right: 10%;
}