.status{
    font-weight: 600;
    color: red;
    
}

.column-status{
    width: 13%;
}

.column-data{
    width: 8%;
}

.ml5{
    margin-left: 5%;
}

.df{
    display: flex;
}

.mt26{
    margin-top: 26px;
}

.mt1{
    margin-top: 1%;
}

.status-pendente{
    color:#15c6c7;
    font-weight: 600;
}

.status-aprovado{
    color: green;
    font-weight: 600;
}

.status-reprovado{
    color: red;
    font-weight: 600;
}